/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

/* Стили для формы добавления студента */
form {
    max-width: 500px;
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Стиль для кнопки редактирования и удаления */
button.edit-btn, button.delete-btn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button.edit-btn {
    background-color: #f0ad4e;
    color: white;
}

button.delete-btn {
    background-color: #d9534f;
    color: white;
}

button.edit-btn:hover {
    background-color: #ec971f;
}

button.delete-btn:hover {
    background-color: #c9302c;
}
